
.header{
 margin: auto; 
 display: grid;
}

.box{ 
    display: block;
    margin: auto;
   padding: 35px; 
   color: aquamarine;
    

}
.result{
     
     display: block;
     padding: 10px; 
     color: white; 
     border: 2px solid;
     margin: 10px;
     padding: 10px;
     text-align: justify;
     text-decoration: rgb(18, 186, 186); 
     font-style: italic;
     

} 
h1{
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
    color: rgb(214, 186, 28); 
    background-color: aliceblue;
} 

body{ 
    background-image: url(e:\Myfirstproject\myfirstproject\src\asset\85585d27229af16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 


.button-container{ 
    display: flex;
    gap: 30px; 
    margin: auto;
}